<% if comments.size != 0 %>
  <ul>
    <% comments.each do |comment| %>
      <li>
        <p class="mb-0"><%= comment.message %></p>
        <span class="text-primary">
          <%= if comment.user_id == post.user_id
                icon('fas', 'user-tie', class: 'text-danger', title: "OP")
              end
          %>
          <%= render 'users/user_link', user: comment.user %>
          <%= render 'shared/timestamp', timestamp: comment.created_at %>
        </span>
        <% if user_signed_in? %>
          <span class="pointer" onclick="setCommentForm(<%= comment.id %>)">Reply</span>
          <span><%= render 'comments/new', post_id: comment.post.id, comment_id: comment.id %></span>
        <% end %>
      </li>
      <%= render 'comments/index', comments: comment.comments, post: post %>
    <% end %>
  </ul>
<% end %>