<% if comments.size != 0 %>
  <ul>
    <% comments.each do |comment| %>
      <li>
        <% if user_signed_in? %>
        <span onclick="comment_vote(1, <%= comment.id %>)" class="pointer text-primary">
          <%= icon('fas', 'caret-square-up', class: ("text-warning" if current_user.voted_up_on? comment), id: "comment_#{comment.id}_upvote") %>
        </span>
        <span onclick="comment_vote(-1, <%= comment.id %>)" class="pointer text-primary">
          <%= icon('fas', 'caret-square-down', class: ("text-warning" if current_user.voted_down_on? comment), id: "comment_#{comment.id}_downvote") %>
        </span>
        <% end %>
      <%= content_tag(:span, comment.weighted_score, id: "comment_#{comment.id}_votes") %>
        <p class="mb-0"><%= comment.message %></p>
        <span class="text-primary">
          <%= if comment.user_id == post.user_id
                icon('fas', 'user-tie', class: 'text-danger', title: "OP")
              end
          %>
          <%= render 'users/user_link', user: comment.user %>
          <%= render 'shared/timestamp', timestamp: comment.created_at %>
        </span>
        <% if user_signed_in? %>
          <span class="pointer" onclick="setCommentForm(<%= comment.id %>)">Reply</span>
          <span><%= render 'comments/new', post_id: comment.post.id, comment_id: comment.id %></span>
        <% end %>
      </li>
      <%= render 'comments/index', comments: comment.comments, post: post %>
    <% end %>
  </ul>
<% end %>