<% @title = "Upload" %>

<%= form_for @post, url: {action: "create"}, html: {class: "text-primary"} do |f| %>
  <div class="form-group">
    <%= f.label :resource, "Select an image" %>
    <%= f.file_field :resource, class: "form-control-file" %>
  </div>
  <%= f.label :resource, "Select a filter option for your post" %>
  <div class="form-group">
    <% post_filters.each do |filter| %>
      <div class="form-check">
        <%= f.radio_button :filter, filter[0], class: "form-check-input" %>
        <%= f.label :filter_open, filter[0].capitalize, class: "form-check-label" %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :tag_list, "Enter tags (seperated by ',')" %>
    <%= f.text_field :tag_list, class: "form-control bg-gray text-light" %>
  </div>
  <%= f.submit "Create", class: "btn btn-danger" %>
<% end %>