<% @title="Post" %>
<%= csrf_meta_tag %>

<%= javascript_tag do %>
    post_id = <%= @post.id %>
<% end %>
<div class="text-center position-relative">
  <%= image_tag @post.resource, class: "img-fluid" %>
  <%= link_to(@post.resource, class: "position-absolute enhance-link p-3", target: "_blank") do icon('fas', 'search-plus', class: "fa-2x") end %>
</div>
<h2><%= link_to("#", onclick: "vote(true," + @post.id.to_s + ")", class: "upvote", id: "upvote"+@post.id.to_s, data: { turbolinks: false }, remote: true ) do %><%= icon('fas', 'caret-square-up', class: "fa-1x") %><% end %></h2>
<h2><%= content_tag(:div, content_tag(:div, @post.calculate_upvotes, id: "votes"+@post.id.to_s ), id: "vote") %></h2>
<h2><%= link_to("#", onclick: "vote(false," + @post.id.to_s + ")", class: "downvote", id: "downvote"+@post.id.to_s, data: { turbolinks: false }, remote: true ) do %><%= icon('fas', 'caret-square-down', class: "fa-1x") %><% end %></h2>
<span class="text-light">Posted <%= render 'shared/timestamp', timestamp: @post.created_at %> by <%= render 'users/user_link', user: @post.user %></span>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} if user_signed_in? if @deletable %>
<%= render 'shared/tag_list', id: "tags", values: @post.tags %>

<div class="mt-3 text-light">
  <h4><%= @post.comments.size %> Comments</h4>

  <%= render 'comments/new', post_id: @post.id %>
  <div class="mt-3">
  <%= render 'comments/index', comments: @post.comments.where(comment_id: nil), post: @post %>
  </div>
</div>